  {{ $noEmbed := .Get "noEmbed" | default false }}
  {{ $id := .Get "id" }}
  {{ $embedId := .Get "embedId" }}
  {{ if and ($id) ($embedId) }}
  {{ if not $noEmbed }}
  <div class="embed">
    <iframe loading="lazy"
            style="height: 360px; width: 100%; min-width: 360px; max-width: 590px; border: none;"
            allowtransparency="true"
            scrolling="no"
            src="https://www.strava.com/activities/{{ $id }}/embed/{{ $embedId }}"></iframe>
  </div>
  {{ end }}
  <div>
    <a href="https://strava.com/activities/{{ $id }}" target="_blank" rel="noreferrer noopener">
      {{ $icon := resources.Get "icons/strava.svg" }}
        {{ if $icon }}
          <span class="relative inline-block align-text-bottom icon">
            {{ $icon.Content | safeHTML }}
          </span>
        {{ end }}
      Link all’attività</a>
  </div>
  {{ else }}
    <div>error</div>
  {{ end }}
