
  {{ $id := .Get "id" }}
  {{ $embedId := .Get "embedId" }}
  {{ if and ($id) ($embedId) }}
  <div class="embed">
    <iframe loading="lazy"
            style="height: 405px; width: 100%; min-width: 360px; max-width: 590px; border: none;"
            allowtransparency="true"
            scrolling="no"
            src="https://www.strava.com/activities/{{ $id }}/embed/{{ $embedId }}"></iframe>
  </div>
  <p>
    <a href="https://strava.com/activities/{{ $id }}" target="_blank" rel="noreferrer noopener">Link all’attività</a>
  </p>
  {{ else }}
    <div>error</div>
  {{ end }}
